@import 'config';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background: url(../images/bg-desktop.svg) no-repeat;
    background-color: $violet;
    color: #fff;
    padding: 0 6rem;
    border: red solid 5px;
}

header {
    padding-top: 3.75em;
}

main {
    display: flex;
    gap: 3.75em;
}

.column {
    &-left {

    }

    &-right {
        h1 {
            font-family: 'Poppins';
            font-size: 2.5rem;
            line-height: 1.5;
            padding-top: 1em;
        }
    }
}